.container {
  padding: 40px 64px;
  max-width: 1440px;
  margin: auto;
}

.header {
  margin-bottom: 24px;
}

.name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #101828;
}

.subHeader {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.rating, .location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    color: #101828;
}
.rating {
    text-decoration: underline;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 images usually */
  gap: 16px;
  margin-bottom: 24px;
}

.galleryImage {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.description {
  margin-bottom: 40px;
  line-height: 1.5;
  color: #475467;
  font-size: 16px;
}

.tabs {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
}

.tabs button {
  background: none;
  border: none;
  padding-bottom: 24px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  position: relative;
}

.tabs .activeTab::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #E44848;
  border-radius: 2px;
}

.content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.detailsPanel {
  flex: 1;
}

.bookingFormWrapper {
    width: 448px;
    flex-shrink: 0;
}

.amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
}

.amenity {
    background-color: #F2F4F7;
    padding: 12px 18px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    color: #101828;
}

.detailsTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(16, 24, 40, 0.1);
    padding-bottom: 24px;
}

.detailsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.detailItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 500;
    color: #101828;
}
.detailItem span:last-child {
    color: #101828;
}