
.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F2F4F7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #E44848;
}

.name {
  font-weight: 600;
  margin: 0;
  font-size: 18px;
  color: #101828;
}

.rating {
  display: flex;
  gap: 4px;
}

.comment {
  margin: 0;
  color: #555;
}
