.filterContainer {
  width: 360px;
  background-color: var(--bg-light);
  padding: 40px;
  border-radius: 24px;
  height: fit-content;
  box-sizing: border-box;
}

.formGroup {
  margin-bottom: 32px;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: rgba(16, 24, 40, 0.6);
  font-size: 16px;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 18px 18px 18px 48px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-dark);
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: var(--primary);
}

.groupTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-dark);
  margin: 0 0 24px 0;
}

.subTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-muted);
  margin: 24px 0 0 0;
}

.radioList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-dark);
}

.radioInput {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #475467;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.searchButton {
  width: 100%;
  padding: 16px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.5;
}

.clearButton {
  width: 100%;
  padding: 16px;
  background-color: transparent;
  color: var(--text-dark);
  border: 1px solid var(--border);
  border-radius: 200px;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.searchButton:hover {
  background-color: var(--primary-hover);
}

.clearButton:hover {
  border-color: var(--primary);
  color: var(--primary);
}