.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}
.react-datepicker {
  font-family: "Inter", sans-serif;
  border-radius: 12px;
  border: 1px solid rgba(16, 24, 40, 0.2);
}
.react-datepicker__header {
  background-color: white;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
  background-color: #E44848;
  border-radius: 50%;
}
.react-datepicker__day:hover {
  border-radius: 50%;
}
